@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 200;
  src:  url('~@/assets/font/NunitoSans-ExtraLight.ttf');
}
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 300;
  src:  url('~@/assets/font/NunitoSans-Light.ttf');
}
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  src:  url('~@/assets/font/NunitoSans-Regular.ttf');
}
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  src:  url('~@/assets/font/NunitoSans-SemiBold.ttf');
}
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  src:  url('~@/assets/font/NunitoSans-Bold.ttf');
}
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 800;
  src:  url('~@/assets/font/NunitoSans-ExtraBold.ttf');
}
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 900;
  src:  url('~@/assets/font/NunitoSans-Black.ttf');
}
